
@{
    ViewBag.Title = "Matricula UMCA | Lista de funcionarios";
    Layout = "~/Views/Shared/_LayoutProyectoMatricula.cshtml";
}

<h2 class="text-center">Lista de funcionarios</h2>

<table class="table">
    <tr>
        <th>Identificador</th>
        <th>Funcionario</th>
        <th>Cédula</th>
        <th>Provincia</th>
        <th>Canton</th>
        <th>Distrito</th>
        <th>Fecha de contratación</th>
        <th rowspan="2">Acciones</th>
    </tr>
    @{
        int r = 4;
    }


</table>

