
@{
    ViewBag.Title = "Matricula UMCA | Ingresar funcionario";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h2 class="text-center">Ingresar nuevo funcionario</h2>
<form action="" method="post" id="frmFuncionario">
    <div class="form-group">
        <label>Nombre de funcionario:</label>
        <input type="text" value="" class="form-control" name="Nombre_Funcionario" />
    </div>
    <div class="form-group">
        <label>Cédula:</label>
        <input type="text" value="" class="form-control" name="Cedula_Funcionario" />
    </div>
    <div class="form-group">
        <label>Provincia:</label>
        <select class="form-control" name="Id_Provincia" id="Provincia">
        </select>
    </div>
    <div class="form-group">
        <label>Cantón:</label>
        <select class="form-control" name="Id_Canton" id="Canton">
        </select>
    </div>
    <div class="form-group">
        <label>Distrito:</label>
        <select class="form-control" name="Id_Distrito" id="Distrito">
        </select>
    </div>
    <div class="form-group">
        <label>Fecha de contratación:</label>
        <input type="date" value="" class="form-control" name="Fecha_Contratacion" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
</form>
@section scripts{
    <script src="~/Scripts/Funcionario/validarFuncionario.js"></script>
    <script src="~/Scripts/Funcionario/cargaGeografia.js"></script>
}

