
@{
    ViewBag.Title = "Matricula UMCA | Ingresar funcionario";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}
<br />
<h1 class="text-center">Ingresar funcionario</h1>
<div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form method="post" id="frmFuncionario" class="">
            <div class="form-group">
                <label>Nombre de funcionario:</label>
                <input type="text" value="" class="form-control" name="Nombre_Funcionario" />
            </div>
            <div class="form-group">
                <label>Cédula:</label>
                <input type="text" value="" class="form-control" name="Cedula_Funcionario" />
            </div>
            <div class="form-group">
                <label>Provincia:</label>
                <select class="form-control" name="Id_Provincia" id="Provincia">
                </select>
            </div>
            <div class="form-group">
                <label>Cantón:</label>
                <select class="form-control" name="Id_Canton" id="Canton">
                </select>
            </div>
            <div class="form-group">
                <label>Distrito:</label>
                <select class="form-control" name="Id_Distrito" id="Distrito"></select>
            </div>
            <div class="form-group">
                <label>Fecha de contratación:</label>
                <input type="text" value="" class="form-control" name="Fecha_Contratacion" id="txtFechaContratacion" />
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ingresar</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary"><i class="fa fa-home" aria-hidden="true"></i> Menú principal</a> &nbsp;
    <a href="~/Funcionario/FuncionarioLista" class="btn btn-outline-primary"><i class="fa fa-list" aria-hidden="true"></i> Lista de funcionarios</a>
</div>
<br />
@section scripts{
    <script src="~/Scripts/validacionesGenericas/validacionesGenericas.js"></script>

    <script src="~/Scripts/Funcionario/validarFuncionario.js"></script>

    <script src="~/Scripts/Funcionario/cargaGeografia.js"></script>

    <script src="~/Scripts/Funcionario/JQueryUIFuncionario.js"></script>
}

