@model List<ProyectoMatricula.Modelos.pa_CursoCarrera_Select_Result>
@{
    ViewBag.Title = "Matricula UMCA | Lista de cursos por carrera";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h1 class="text-center">Lista de cursos por carrera</h1>
<div class="d-flex align-content-center justify-content-center">
    <form class="form-horizontal" method="post">
        <div class="form-group d-flex">
            <label for="Nombre_Curso">Curso:</label>&nbsp;
            <input type="text" value="" id="Nombre_Curso" class="form-control" name="Nombre_Curso" /> &nbsp;&nbsp;
            <label>Carrera:</label>
            <input type="text" value="" id="Nombre_Carrera" class="form-control" name="Nombre_Carrera" />&nbsp;
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>
<table class="table text-center table-hover table-bordered table-striped">
    <tr>
        <th>Identificador</th>
        <th>Curso</th>
        <th>Carrera</th>
        <th colspan="2">Acciones</th>
    </tr>
    @{ 
        foreach (ProyectoMatricula.Modelos.pa_CursoCarrera_Select_Result posicionModelo in this.Model)
        {
        <tr>
            <td>@posicionModelo.Id_Cursos_Por_Carrera</td>
            <td>@posicionModelo.Nombre_Carrera</td>
            <td>@posicionModelo.Nombre_Curso</td>
            <td><a href="#">Modificar</a></td>
            <td><a href="#">Eliminar</a></td>
        </tr>
        }
    }
</table>