@model List<ProyectoMatricula.Modelos.pa_CursoCarrera_Select_Result>
@{
    ViewBag.Title = "Matricula UMCA | Lista de cursos por carrera";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h1 class="text-center">Lista de cursos por carrera</h1>
<form class="d-flex align-content-center justify-content-center" method="post">
    <label>Carrera:</label>
    <input type="text" value="" id="Nombre_Carrera" class="form-control" name="Nombre_Carrera" />&nbsp;&nbsp;
    <label for="Nombre_Curso">Curso:</label>&nbsp;
    <input type="text" value="" id="Nombre_Curso" class="form-control" name="Nombre_Curso" /> &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
    <br />
<table class="table text-center table-hover table-bordered table-striped">
    <tr>
        <th>Identificador</th>
        <th>Carrera</th>
        <th>Curso</th>
        <th colspan="2">Acciones</th>
    </tr>
    @{
        foreach (ProyectoMatricula.Modelos.pa_CursoCarrera_Select_Result posicionModelo in this.Model)
        {
            <tr>
                <td>@posicionModelo.Id_Cursos_Por_Carrera</td>
                <td>@posicionModelo.Nombre_Carrera</td>
                <td>@posicionModelo.Nombre_Curso</td>
                <td><a href="~/CursosCarrera/CursoCarreraModifica?Id_Cursos_Por_Carrera=@posicionModelo.Id_Cursos_Por_Carrera">Modificar</a></td>
                <td><a href="~/CursosCarrera/CursoCarreraElimina?Id_Cursos_Por_Carrera=@posicionModelo.Id_Cursos_Por_Carrera">Eliminar</a></td>
            </tr>
        }
    }
</table>
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary">Menú principal</a> &nbsp;
    <a href="~/CursosCarrera/CursoCarreraNuevo" class="btn btn-outline-primary">Agregar curso por carrera</a>
</div>
<br />