@{
    ViewBag.Title = "Matricula UMCA | Ingresar nuevo curso";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}
<br />
<h1 class="text-center">Ingresar curso</h1>

<div class="row justify-content-center align-items-center h-100 border-left border-right">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form method="post" id="frmCurso">
            <div class="form-group">
                <label>Nombre del curso:</label>
                <input type="text" value="" name="Nombre_Curso" class="form-control" />
            </div>
            <div class="form-group">
                <label>Código del curso:</label>
                <input type="text" value="" name="Codigo_Curso" class="form-control" />
            </div>
            <div class="form-group">
                <label>Código requisito:</label>
                <select name="Codigo_Requisito" id="Codigo_Requisito" class="form-control">
                    <option value="">Seleccione una opción</option>
                    <option value="null">Ninguno</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.pa_CursosCodigos_Select_Result Curso in this.ViewBag.ListaCursos)
                        {
                            <option value="@Curso.Id_Curso">@Curso.Nombre_Curso</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/validacionesGenericas/validacionesGenericas.js"></script>
    <script src="~/Scripts/Cursos/validaCurso.js"></script>
}