@{ 
    ///Variable que posee datos del usuario
    ProyectoMatricula.Modelos.pa_Administrador_Select_Result modelo =
         (ProyectoMatricula.Modelos.pa_Administrador_Select_Result)this.Session["datosUsuario"];

    ///variable con la direccion de la vista del login 
    string urlLogin = Url.Action("Index", "Login");


    string urlCerrarSesion = Url.Action("CerrarSesion", "Login");

    /// variable para preguntar si la sesion se inició
    bool sesionIniciada = false;
    if (this.Session["logueado"] != null)
    {
        sesionIniciada = Convert.ToBoolean(this.Session["logueado"]);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8"/>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bundles/Modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
    <header class="text-center">
        <h1>Matricula UMCA</h1>
    </header>
    <div class="container body-content">
        @{
            /// si es verdadero cargar el cuerpo de la pagina hija
            if (sesionIniciada)
            {
                @RenderBody();
            }
            else
            {
                ///de lo contrario redireccionar al
                ///controlador de login y a su metodo index
                ///para que solicite los datos de inicio de sesion
                this.Response.Redirect(urlLogin);
            }
        }
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 bg-primary">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12 mt-md-0 mt-3 text-center">
                    <!-- Content -->
                    <p><em><strong>Matricula UMCA</strong></em></p>
                </div>
            </div>
            <!-- Copyright -->
            <div class="col-md-12 mt-md-0 mt-3 text-center">
                <!-- Content -->
                <p><em><strong>© 2020 Copyright</strong></em></p>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <!-- Footer -->

</body>
</html>
