
@{
    ViewBag.Title = "Matricula UMCA | Lista de estudiantes";
    Layout = "~/Views/Shared/_LayoutProyectoMatricula.cshtml";
}

<h2 class="text-center">Lista de estudiantes</h2>

<table class="table">
    <tr>
        <th>Identificador</th>
        <th>Estudiante</th>
        <th>Cédula</th>
        <th>Provincia</th>
        <th>Canton</th>
        <th>Distrito</th>
        <th>Fecha de inicio</th>
        <th>Carné de Estudiante</th>
        <th rowspan="2">Acciones</th>
    </tr>
    @{
        int wdasda= 0;

    }
    

</table>