@{
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}
<br />
<h1 class="text-center">Ingresar estudiante</h1>

<div class="row justify-content-center align-items-center">

    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">

        <form method="post" id="frmEstudiante">
            <div class="form-group">
                <label for="txtNombre">Nombre Completo</label>
                <input type="text" id="txtNombre" name="Nombre_Estudiante" class="form-control" />
            </div>
            <div class="form-group">
                <label for="txtCedula">Cédula</label>
                <input type="text" id="txtCedula" name="Cedula_Estudiante" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Provincia</label>
                <select class="form-control" name="Id_Provincia" id="Provincia">
                </select>
            </div>
            <div class="form-group">
                <label for="">Cantón</label>
                <select class="form-control" name="Id_Canton" id="Canton">
                </select>
            </div>
            <div class="form-group">
                <label for="">Distrito</label>
                <select class="form-control" name="Id_Distrito" id="Distrito">
                </select>
            </div>
            <div class="form-group">
                <label for="txtFechaInicioU">Fecha de Inicio</label>
                <input type="text" value="" id="txtFechaInicioU" name="Fecha_Inicio_U" class="form-control" />
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ingresar</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary"><i class="fa fa-home" aria-hidden="true"></i> Menú principal</a> &nbsp;
    <a href="~/Estudiante/EstudianteLista" class="btn btn-outline-primary"><i class="fa fa-list" aria-hidden="true"></i> Lista de estudiantes</a>
</div>
<br />
@section scripts{
    <script src="~/Scripts/validacionesGenericas/validacionesGenericas.js"></script>
    <script src="~/Scripts/Estudiante/validarEstudiante.js"></script>
    <script src="~/Scripts/Estudiante/cargaGeografia.js"></script>
    <script src="~/Scripts/Estudiante/JqueryUIEstudiante.js"></script>
}
