
@{
    ViewBag.Title = "Matricula UMCA | Matrícula de estudiante en cursos";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h1>Matrícula de estudiante en cursos</h1>
<form method="post" id="frmMatriculaEstudiante">
    <div class="form-group">
        <label>Estudiante:</label>
        <select class="form-control">

        </select>
    </div>
</form>
